In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from pandas.plotting import scatter_matrix

preferences = pd.read_csv('base_food_preference/Food_Preference.csv')

preferences.head()

,Timestamp,Participant_ID,Gender,Nationality,Age,Food,Juice,Dessert
0,2019/05/07 2:59:13 PM GMT+8,FPS001,Male,Indian,24,Traditional food,Fresh Juice,Maybe
1,2019/05/07 2:59:45 PM GMT+8,FPS002,Female,Indian,22,Western Food,Carbonated drinks,Yes
2,2019/05/07 3:00:05 PM GMT+8,FPS003,Male,Indian,31,Western Food,Fresh Juice,Maybe
3,2019/05/07 3:00:11 PM GMT+8,FPS004,Female,Indian,25,Traditional food,Fresh Juice,Maybe
4,2019/05/07 3:02:50 PM GMT+8,FPS005,Male,Indian,27,Traditional food,Fresh Juice,Maybe

In [4]:
preferences = preferences.drop(columns=['Timestamp','Participant_ID'])

preferences.head()

   Gender Nationality  Age              Food              Juice Dessert
0    Male      Indian   24  Traditional food        Fresh Juice   Maybe
1  Female      Indian   22      Western Food  Carbonated drinks     Yes
2    Male      Indian   31      Western Food        Fresh Juice   Maybe
3  Female      Indian   25  Traditional food        Fresh Juice   Maybe
4    Male      Indian   27  Traditional food        Fresh Juice   Maybe

In [12]:
preferences_duplicates = preferences [ preferences.duplicated(subset=['Gender', 'Nationality', 'Age', 'Food', 'Juice', 'Dessert'], keep=False)]

if len(preferences_duplicates) > 0:
  print('\nAmostras redudantes ou inconsistentes:\n')
  print(preferences_duplicates)
else: print('\nNÃ£o existem amostras redudantes ou inconsistentes')

Amostras redudantes ou inconsistentes:

     Gender Nationality  Age              Food        Juice Dessert
0      Male      Indian   24  Traditional food  Fresh Juice   Maybe
3    Female      Indian   25  Traditional food  Fresh Juice   Maybe
4      Male      Indian   27  Traditional food  Fresh Juice   Maybe
5      Male      Indian   24  Traditional food  Fresh Juice     Yes
6    Female      Indian   34  Traditional food  Fresh Juice     Yes
..      ...         ...  ...               ...          ...     ...
283    Male      Indian   27      Western Food  Fresh Juice     Yes
284    Male      Indian   24  Traditional food  Fresh Juice     Yes
285    Male      Indian   25  Traditional food  Fresh Juice     Yes
286    Male      Indian   27  Traditional food  Fresh Juice     Yes
287    Male      Indian   27  Traditional food  Fresh Juice      No

[144 rows x 6 columns]

In [13]:
def delDuplicatas(preferences):
   '''
   Para cada grupo de amostras duplicadas, mantÃ©m uma e apaga as demais
   '''
  
   # remove as amostras duplicadas, mantendo apenas a primeira ocorrencia
   preferences = preferences.drop_duplicates(keep = 'first')   
 
   return preferences
 
preferences = delDuplicatas(preferences)
 
display(preferences)

     Gender Nationality  Age              Food              Juice Dessert
0      Male      Indian   24  Traditional food        Fresh Juice   Maybe
1    Female      Indian   22      Western Food  Carbonated drinks     Yes
2      Male      Indian   31      Western Food        Fresh Juice   Maybe
3    Female      Indian   25  Traditional food        Fresh Juice   Maybe
4      Male      Indian   27  Traditional food        Fresh Juice   Maybe
..      ...         ...  ...               ...                ...     ...
268     NaN      Indian   23  Traditional food        Fresh Juice     Yes
274    Male      Indian   29      Western Food        Fresh Juice   Maybe
276    Male      Indian   28  Traditional food  Carbonated drinks     Yes
277     NaN      Indian   26  Traditional food        Fresh Juice     Yes
278    Male      Indian   25  Traditional food  Carbonated drinks     Yes

[199 rows x 6 columns]